<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css')}}">
    <title>New Employee</title>
</head>
<body>
    <div class="container">
        <h2>Add an Employee</h2>
        {% if employee is defined %}
        <p>
            {{ employee.name }} was added with
                {% for field in employee %}
                    {% if loop.first %}
                    {% else %}
                        {{ field }} : {{ employee[field] }}
                    {% endif %}
                {% endfor %}
        </p>
        {% endif %}
        <form id="employee_data" method="post" action="{{ url_for('newemployee') }}">
            {% include "employee_data.html" %}
        </form>
        <button id="backHome" class="btn">Home</button>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    </div>
</body>
</html>
